:root {
  --primary-color: rgb(236, 236, 236);
  --secondary-color: rgb(21, 21, 21);
  --blue-color: #2bc5cd;
  --orange-color: #ff693d;
  --border: 2px solid var(--blue-color);
  --spacing: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Resto del CSS */
.container {
  display: grid;
  grid-template-areas:
    'header school student'
    'header main time'
    'alumni footer footer';
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  height: 100vh;
  background-color: rgb(228, 223, 223);
  padding: 2%;
  border-radius: 20px;
  gap: 20px;
  text-align: center;
  justify-content: center;
}

header {
  grid-area: header;
  background-color: #2bc5cd;
  color: white;
  display: grid;
  padding: 20px;
}
header > h1 {
  font-size: 25px;
  text-transform: uppercase;
}
header > p {
  padding: 10px;
  text-align: justify;
}

img {
  width: 100%;
  object-fit: cover;
}
.school {
  grid-area: school;
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/d8ce469044b958508f4bdbab/blueschoolbackpackwithessentialsupplies_232148207678.jpg);
}

.student {
  grid-area: student;
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/9e4ce16148dd5cbeb1065410/89f80abe-6acd-d8dc-a341-3e571206975b.jpg);
}

main {
  grid-area: main;
  align-content: center;
  border: solid 3px rgb(8, 196, 181);
  color: rgb(15, 173, 173);
  text-transform: uppercase;
}

.time {
  grid-area: time;
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/773a5aa425b1502aaac14708/f2b45624-c8f6-3aa0-0ee4-58adda3c89b0.jpg);
}

.alumni {
  grid-area: alumni;
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/89993ff69c3e5244ad2bf1ba/blondestudentgirlissmilingholdingfoldernotebookherhandsuniversitybackground_101969664.jpg);
}

footer {
  grid-area: footer;
  background-color: #ff693d;
  color: white;
  display: grid;
  padding: 20px;
  text-align: start;
}
footer > button {
  width: 35%;
  height: 60px;
  text-transform: uppercase;
  font-weight: bold;
}

.alumni,
.school,
.student,
.time {
  background-size: cover;
}

@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
      'header'
      'school'
      'student'
      'main'
      'time'
      'alumni'
      'footer';

    width: 100%;
    align-content: center;
    height: 300vh;
  }
  img {
    width: 100%;
    object-fit: fill;
  }
}
